<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pagina que realiza previsão de crimes nas cidades do estado de Sao Paulo">
    <meta name="author" content="Lucas Tavares dos Santos">
    <title>Sobre o projeto</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
</head>
<body role="document" style="font-family: proxima;">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div><br></div>
            <div class="list-group list-group-flush">
                <a href="index.html" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="equipe.html" class="list-group-item list-group-item-action bg-light">Equipe</a>
                <a href="previsao.html" class="list-group-item list-group-item-action bg-light">Previsão</a>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <h4>Sobre o projeto</h4>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www5.usp.br/">
                                USP
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ssp.sp.gov.br/Estatistica/Pesquisa.aspx">
                                Dados Estatísticos do Estado de São Paulo
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
  
            <div class="container-fluid">
                <p>Neste projeto, são obtidos os dados registrados por todas as delegacias do estado de São Paulo, 
                    os quais são extraídos através de uma técnica conhecida como Web Scraping.</p>
                <p>Com isso, é possível verificar a existência de tendências, sazonalidades, ciclos ou 
                    outliers nos dados ao obter uma série temporal com a quantidade de ocorrências registradas em uma
                    delegacia com frequência mensal.</p>
                <p>Com os dados que compõem a série temporal, é possível utilizar diversos algoritmos de predição, 
                    tais como:</p>
                    <ul>
                        <li>LSTM - Long short-term memory</li>
                        <li>ARIMA - Autoregressive integrated moving average</li>
                        <li>Facebook Prophet</li>
                    </ul>
                    <p>
                        Neste site, foi utilizado o algoritmo Facebook Prophet para realizar as predições, pois 
                        ele é capaz de tratar e representar de forma satisfatória as questões de sazonalidade,
                        feriados capazes de alterar tendências, missing data e outliers. 
                    </p>
                    <p>
                        É possível testar esse algoritmo na página Previsão, que possui os campos necessários para
                        obter informações específicas de delegacias e até mesmo cidades do estado de São Paulo.
                    </p>
            </div>
        </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#sidebar-wrapper -->
    
</body>